.col-md-12.well
  .col-sm-5
    %h3 Login
    = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!
      = f.email_field :email, hide_label: true, prepend: "<i class='fa fa-envelope-o'></i>".html_safe, required: true, placeholder: "Email"
      = f.password_field :password, hide_label: true, autocomplete: "off", prepend: "<i class='fa fa-lock'></i>".html_safe, required: true, placeholder: "Password"  
      - if devise_mapping.rememberable?
        = f.check_box :remember_me   
      = f.submit "Login", :class => 'btn bg-navy'
      %br
      %br
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        = link_to "Forgot your password?", new_password_path(resource_name)
  #max_divider
    .col-sm-2
    .ui.vertical.divider 
      or
  #min_divider
    .col-sm-2
    .ui.horizontal.divider 
      or
  .col-sm-5
    %h3 Login
    %br
    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        - if provider.to_s == "google_oauth2" 
          %p= link_to "<i class='fa fa-google-plus'></i> Login with Google".html_safe, omniauth_authorize_path(resource_name, provider), :class => "btn btn-block btn-social btn-lg btn-google-plus"
        - else
          %p= link_to "<i class='fa fa-#{provider}'></i> Login with #{provider.to_s.titleize}".html_safe, omniauth_authorize_path(resource_name, provider), :class => "btn btn-block btn-social btn-lg btn-#{provider}"  

