!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    / <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    /  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>    
    %title : Sample Social login :
    / Fav and touch icons
    %link{:href => "http://elphax.com/assets/ico/apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "http://elphax.com/assets/ico/apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "http://elphax.com/assets/ico/favicon.png", :rel => "shortcut icon"}
    %link{:href => "http://elphax.com/assets/ico/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    / flash notifications
    - if flash[:toastr]
      - flash[:toastr].each do |type, message|
        :javascript
          Command: toastr.#{type}(#{raw(message.inspect)});

    .navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} Sample Social login
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right

            - if user_signed_in?
              %li.dropdown.user.user-menu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-user.fa-fw
                  %span
                    #{current_user.name}
                    %i.caret
                %ul.dropdown-menu
                  / User image
                  %li.user-header.bg-light-blue
                    - avatar = avatar_url(current_user.email)
                    - if avatar == "http://gravatar.com/avatar/89affc239bd0c1b6481faaec3cf0c39a.png"
                      = image_tag "default_pic.png"
                    - else
                      = image_tag avatar_url(current_user.email)
                    %p
                      #{current_user.name} 
                      %small Member since #{current_user.created_at.strftime("%B %Y")}
                      %br
                      %hr  

                  / Menu Footer
                  %li.user-footer
                    - if current_user.authorizations.any?
                      .pull-left
                        = link_to "<i class='fa fa-edit fa-fw'></i> Profile".html_safe, edit_user_path(current_user), :class => 'btn btn-default btn-flat'
                      .pull-right
                        = link_to "<i class='fa fa-sign-out fa-fw'></i> Logout".html_safe, destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-flat'
                    - else
                      .pull-left
                        = link_to "<i class='fa fa-edit fa-fw'></i> Edit Profile".html_safe, edit_user_registration_path, :class => 'btn btn-default btn-flat'
                      .pull-right
                        = link_to "<i class='fa fa-sign-out fa-fw'></i> Logout".html_safe, destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-flat'
            - else
              %li
                = link_to "Register", new_user_registration_path, :class => 'item'
              %li
                = link_to "Login", new_user_session_path, :class => 'item'
        / /.nav-collapse

    %section.container
      = yield
    %footer.footer
      %p
        Develop by Faraz Ali, all rights reserved